<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322140669812-r401vmiodtrtn2nnd62g9ekl20frh36u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322140669812-r401vmiodtrtn2nnd62g9ekl20frh36u</string>
	<key>API_KEY</key>
	<string>AIzaSyAjic4ZOPOxyj0g9YpFfDOZTeVlPur1kps</string>
	<key>GCM_SENDER_ID</key>
	<string>322140669812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sokware.app.justmnts</string>
	<key>PROJECT_ID</key>
	<string>justmnts-sokware</string>
	<key>STORAGE_BUCKET</key>
	<string>justmnts-sokware.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322140669812:ios:ef937a6b4e4dbb09da4e21</string>
	<key>DATABASE_URL</key>
	<string>https://justmnts-sokware.firebaseio.com</string>
</dict>
</plist>